body {
    margin: 0;
    background: black;
    color: white;
    font-family: Arial;
    text-align: center;
}

.screen {
    padding: 20px;
}

.hidden {
    display: none;
}

.logo {
    font-size: 100px;
    color: #111;
    text-shadow: 3px 3px #555, 6px 6px #777;
}

input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 80%;
    border-radius: 10px;
    border: none;
}

button {
    padding: 15px 30px;
    font-size: 18px;
    border-radius: 30px;
    border: none;
    margin-top: 10px;
}

.card {
    background: #111;
    border-radius: 20px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}